#imagem1 {
    width:100px;
    height:100px;
    margin-top:10px;
    margin-left:10px;
    border-radius:30px;
}
#imagem1:hover {
    transform: scale(1.05);
}
body {
    background-color:rgb(29, 29, 29);
}

#mudarcor {
    background-color:white;
    border-radius:30px;
    top: 10px;
    right: 20px;
    position:fixed;
    height:50px;
    width:100px;
    cursor: pointer;
    padding: 1px 5px; 
    width: fit-content;        /* Faz o botão ajustar ao conteúdo */
   display: inline-block;  
 }
 #mudarcor:hover {
     background: lightgray;
     
}
h1 {
    color:yellow;
    text-align:center;
    font-size:35px;
}
#seu {
    color: yellow;
    text-decoration:underline;
}
footer {
    background-color: blue;
    border-radius:10px;
    width:500px;
    margin-left:36%;
    margin-top:200px;
    padding:20px;
}
@media (max-width: 768px) {
    footer {
        margin-left:28%;
    }
}
@media (max-width:1024px) {
    footer {
        margin-left:28%;
    }
}